NET "CLK" LOC = P127;

NET "PB_H" LOC = P11;
NET "PB_M" LOC = P12;

NET "SEG_COM[3]" LOC = P130;
NET "SEG_COM[2]" LOC = P131;
NET "SEG_COM[1]" LOC = P6;
NET "SEG_COM[0]" LOC = P5;

NET "DOT" LOC = P132;

NET "SEG[6]" LOC = P135;
NET "SEG[5]" LOC = P137;
NET "SEG[4]" LOC = P140;
NET "SEG[3]" LOC = P141;
NET "SEG[2]" LOC = P1;
NET "SEG[1]" LOC = P2;
NET "SEG[0]" LOC = P4;