NET "A[7]" LOC = P15;
NET "A[6]" LOC = P17;
NET "A[5]" LOC = P18;
NET "A[4]" LOC = P20;
NET "A[3]" LOC = P21;
NET "A[2]" LOC = P23;
NET "A[1]" LOC = P24;
NET "A[0]" LOC = P25;

NET "B[7]" LOC = P68;
NET "B[6]" LOC = P63;
NET "B[5]" LOC = P60;
NET "B[4]" LOC = P59;
NET "B[3]" LOC = P56;
NET "B[2]" LOC = P55;
NET "B[1]" LOC = P53;
NET "B[0]" LOC = P52;

NET "SW[0]" LOC = P8;
NET "SW[1]" LOC = P10;
NET "SW[2]" LOC = P11;
NET "SW[3]" LOC = P12;

NET "CLK" LOC = P127;

NET "COM[0]" LOC = P5;
NET "COM[1]" LOC = P6;

NET "C[6]" LOC = P135;
NET "C[5]" LOC = P137;
NET "C[4]" LOC = P140;
NET "C[3]" LOC = P141;
NET "C[2]" LOC = P1;
NET "C[1]" LOC = P2;
NET "C[0]" LOC = P4;